body{
    background-color: hsl(212, 45%, 89%);
    height: 100vh;
    font-family: 'Outfit', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
}

.container{
    background-color: whitesmoke;
    text-align: center;
    border-radius: 10px;
    width: 300px;
    padding: 1rem;
    margin: auto;
    margin-top: 50%;
    margin-bottom: 50%;

}

.image{
    text-align: center;
    padding-top: 10px;

}

h1{
    color: hsl(218, 44%, 22%);
    font-size: 23px;
    padding-left: 10px;
    padding-right: 10px;
}

p{
    color: hsl(220, 15%, 55%);
    font-size: 17px;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 15px;
}

img{
    border-radius: 10px;
    margin: 0px;
    width: 275px;
}