body{
    background-color: hsl(212, 45%, 89%);
    margin: 0;
    padding: 0;
    font-family: 'Outfit', sans-serif;
}

.container{
    background-color: hsl(0, 0%, 100%);
    text-align: center;
    border-radius: 20px;
    width: 350px;
    padding-top: 0px;
    margin: auto;
    display: block;
    margin-top: 50%;
    margin-bottom: 50%;
}

.image{
    text-align: center;
    display: block;
    padding: 30px;
    padding-left: 26px;
    padding-bottom: 5px;
}

h1{
    color: hsl(218, 44%, 22%);
    font-size: 25px;
    padding-left: 40px;
    padding-right: 40px;
}

p{
    color: hsl(220, 15%, 55%);
    font-size: 20px;
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 40px;
}

img{
    border-radius: 20px;
    margin: 0px;
    width: 300px;
}